.image{
    text-align: center;
    background-color: white;
    padding-bottom: 24px;
}

.image-login{
    text-align: center;
}

.App-logo-custom{
    max-width: 100%;
    height: 80px;
}

.main-control{
    text-align: center;
    padding-bottom: 3%;
}

.logout{
    float: right;
    padding-right: 4.3%;
    padding-top: 1%;
}

h2{
    text-align: center;
    font-size: 150%;
    color: black;
}

h3{
    text-align: center;
    font-size: 200%;
    color: black;
}

.row{
    padding: 0.8%;
}

.btn-success{
    width: 45%;
    height: 45px;
    font-size: 20px;
    transition: transform .5s;
    font-weight: bold;
    border: 2px solid gray;
}
.btn-success:hover{
    transform:  scale(1.05);
    background-color: rgba(102,216,226,0.7);
}

.footer{
    background-color: rgba(196,196,196,0.95);
    padding-top: 1%;
    padding-left: 9%;
    padding-bottom: 1%;
    color: black;
    border-top: 1px solid gray;
}

.form-search{
    background-color: rgba(35,43,43,0.001);
    padding-left: 40%;
    margin-left: 35%;
    margin-bottom: 0.01%;
    padding-top: 0.01%;
}

.form-search-kpi{
    padding-left: 12%;
    padding-top: 1%;
}

hr{
    height: 2px;
    background-color: white;
}

.title{
    color: black;
    text-align: center;
    padding-top: 0.01%;
    padding-bottom: 0.1%;
    font-size: 21px;
}
.title-page{
    text-align: left;
    padding-left: 2.8%;
    color: black;
    font-size: 160%;
    padding-bottom: 5%;
    padding-top: 1%;
}

.alert-warning-login{
    color: red;
    padding-left: 33%;
    font-weight: bold;
    font-size: 30px;
}

.form-group-login {
    width: 80%;
    border: none;
    margin-left: 8%;
    font-weight: bold;
}
.form-control-login{
    width: 90%;
    height: 30px;
}
.form-group-search{
    width: 80%;
    border: none;
    margin-left: 8%;
}
.form-control-search{
    width: 180%;
    height: 30px;
}
.form-control-login:hover{
    border: 2px solid grey;
}
.form-login{
    padding-left: 5%;
    padding-top: 4%;
    padding-bottom: 5%;
}

.btn-success-login{
    width: 15%;
    height: 25px;
    margin-left: 38%;
    margin-top: 2%;
}

.login-form{
    margin-top: 3%;
    padding-bottom: 3%;
    margin-right: 10%;
    margin-left: 10%;
}

.combobox{
    width: 320px;
    height: 59px;
    font-size: 110%;
    transition: transform .3s;
    border-radius: 3px;
    color: black;
    font-weight: bold;
    border: none;
    margin-left: 1%;
    margin-right: 5%;
}
.combobox:hover{
    color: #818181;
}
.combobox-kpi{
    width: 270px;
    height: 45px;
    font-size: 110%;
    transition: transform .3s;
    border-radius: 3px;
    font-weight: bold;
    border: none;
    margin-left: 1%;
}
.combobox-kpi:hover{
    color: #818181;;
}
.combobox-line{
    padding-top: 2.3%;
    background-color: white;
    margin-left: 5%;
}

table{
    border: 3px solid rgba(127,127,127,0.99);
    color: rgba(40,38,39,0.87);
    border-radius: 7px;
    background-color: white;
    border-collapse: separate;
    border-spacing: 0;
}
td{
    border-bottom: 1px solid gray;
    padding: 1% 1.5% 1% 1%;
    margin-right: 3%;
}
table td {
    padding-left: 0.3%;
}
thead th{
    font-size: 115%;
    color: black;
    margin-top: 5%;
    border-bottom: 2px solid grey;
}
tr:hover{
    background-color: rgba(53,56,56,0.2);
    transition-duration: .1s;
    color: black;
}

.table-kpi{
    word-wrap: break-word;
    table-layout: fixed;
    width: 1200px;
    text-align: center;
    font-size: 15px;
    margin-left: 6%;
    margin-top: 10%;
    margin-bottom: 8%;
    background-color: rgb(79,93,115);
    color: white;
}

.table{
    table-layout: fixed;
    width: 1200px;
    text-align: center;
    font-size: 15px;
    margin-left: 6%;
    margin-top: 2%;
    margin-bottom: 3%;
}
.table td{
    padding-left: 3px;
    line-height: 0px;
}

.btn-add{
    width: 7%;
    height: 30px;
    font-size: 15px;
    transition: transform .3s;
    font-weight: bold;
    border: 2px solid gray;
    margin-left: 46.5%;
    margin-bottom: 9.5%;
    margin-top: 2%;
}
.btn-add:hover{
    background-color: rgba(103, 104, 110, 0.58);
}

.alert-success{
    padding-bottom: 1%;
    color: red;
    text-align: center;
    font-weight: bold;
}

.form-group-edit{
    border: none;
    margin-bottom: 5%;
}
.form-control-edit{
    height: 30px;
    width: 350px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 5px;
}
.form-control-label{
    border: none;
    font-size: 22px;
}

.form-control-file{
    border: 2px solid #b4b4b4;
    height: 24px;
    width: 350px;
    font-size: 16px;
}
Form{
    background-color: #ebebeb;
    padding-left: 12.5%;
    padding-bottom: 2%;
    padding-top: 3%;
    margin: 2% 23% 1%;
    border-radius: 5px;
}
.btn-search{
    margin-left: 55%;
}
.btn-edit{
    margin-left: 12%;
    margin-top: 5%;
    width: 90px;
    height: 25px;
    margin-bottom: 10%;
}
.btn-addnew{
    margin-left: 12.5%;
    margin-top: 1%;
    width: 90px;
    height: 25px;
    margin-bottom: 2%;
}
.btn-submit{
    width: 90px;
    height: 25px;
    margin-left: 30%;
    font-weight: bold;
    background-color: black;
    color: white;
    border-radius: 5px;
}

.file{
    border: 2px solid gray;
    font-size: 16px;
    border-radius: 5px;
}
.form-file{
    background-color: #ebebeb;
    padding-left: 4.3%;
    padding-bottom: 1%;
    padding-top: 1%;
    margin: 2% 33% 2%;
    border-radius: 5px;
}

.label_combobox-add{
    text-align: left;
    display: block;
    font-weight: bold;
    margin-top: 1%;
    margin-left: 13px;
}
.combobox-add{
    margin-left: 2%;
    padding-left: 1%;
    width: 360px;
    height: 30px;
    font-size: 100%;
    transition: transform .3s;
    background-color: white;
    border-radius: 3px;
}

.alert-error{
    color: red;
    padding-left: 13px;
    font-size: 20px;
    font-weight: bold;
}

.btnud{
    font-size: 15px;
    margin-left: 20px;
}

.id_column{
    display: none;
}

.content{
    margin-left: 15%;
    overflow-y: auto;
    max-height: 801px;
}

.content-homepage{
    background-color: #eaeaea;
}

.content-kpi{
    padding-bottom: 4%;
    background-color: #eaeaea;
}

.menu-side-bar{
    background-color: rgba(60,75,100, 0.9);
    width: 15%;
    float: left;
    height: 801px;
    position: sticky;
}

.navbar-side{
    display: block;
    text-decoration: none;
    color: white;
    padding-left: 10%;
    height: 40px;
    padding-top: 18px;
    font-weight: bold;
}
.navbar-side:hover{
    background-color: white;
    color: black;
    transition-duration: .6s;
}

.label{
    font-weight: bold;
    font-size: 20px;
    margin-left: 1%;
}

a{
    text-decoration: none;
}

.title-add{
    font-weight: bold;
}

.tab{
    text-align: left;
    padding-left: 6%;
    padding-top: 1%;
    padding-right: 1%;
    font-size: 22px;
    border-top: 2px solid grey;
}

.btncontrol-next{
    transition: transform .1s;
}
.btncontrol{
    margin-left: 24.5%;
    transition: transform .1s;
}
.btncontrol:hover{
   transform: scale(1.2);
}
.btncontrol-next:hover{
    transform: scale(1.2);
}
.page-current{
    width: 25px;
    font-weight: bold;
    margin-left: 1%;
    margin-right: 1%;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 3px;
}

.combobox-record{
    margin-left: 1%;
    width: 50px;
    font-size: 16px;
}
.label-record{
    margin-left: 6%;
    font-weight: bold;
    font-size: 17px;
}
.containers-edit{
    padding-top: 5%;
    padding-bottom: 11%;
    font-size: 20px;
    font-weight: bold;
}